body {
    background-color: #D0E7D2;
    margin-inline-start: 20px;
    overflow-x: hidden;
}

span {
    color: #79AC78;
    display: inline-block;
    font-size: 200%;
}

fieldset {
    display: inline-block;
    height: 100%;
    border-color: #618264;
    border-radius: 1%;
}

a {
    font-size: 80%;
}

a:visited {
    color: #79AC78;
}

a:hover {
    color: #618264;
}

h2 {
    
    font-size: 150%;
}

li {
    font-size: 120%;
}

#myskillfont {
    color: #79AC78;
    font-size: 300%;
}

#icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
    margin-bottom: 10%;
}

#brazilpicure {
    border-radius: 50%;
    width: 120%;
    height: 75%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-gap: 5%;
}

.grid-container>div {
    color: #79AC78;
    font-size: 100%;
}

#header {
    margin-top: -2%;
    grid-column: 1 / span 1;
}

#paddingHeading {
    padding-left: 5%;
}

#header>u {
    font-size: 300%;
}

#introduction_picture {

    grid-column: 1 / span 1;
}

#introduction {
    margin-top: -3%;
    grid-column: 2 / span 1;
}

#introduction>h2 {
    font-size: 300%;
}

#introduction>h3 {
    font-size: 200%;
}

#skill {
    margin-right: 10%;
    margin-top: -11%;
    grid-column: 3 / span 1;
}

#aboutme {
    margin-top: -40%;
    margin-left: 6%;
    grid-column: 1 / span 1;
}

#allassignment {
    margin-top: -11%;
    margin-left: 6%;
    grid-column: 2 / span 2;
}

#footer {
    background-color: #618264;
    grid-column: 1 / span 3;
    height: 100%;
    margin-left: -3%;

}

#footer>h2 {
    margin-left: 4%;
}

#footer>ul {
    margin-left: 3%;
}

.flex_container {
    display: flex;
    margin-left: -1.7%;

}

.flex_container>div {
    margin-left: 30px;
    margin-bottom: 10px;
}