body{
    background-color: #D0E7D2;
    margin-inline-start: 20px;

}


a:visited{
    color: #79AC78;
}
a:hover{
    color: #618264;
}

h2{
    font-size: 150%;    
}

li{
    font-size: 120%;   
}

#facebookicon{
    width: 30px;
    height: 30px;
    object-fit:cover;
}

#brazilpicure{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit:cover;
}

.grid-container {
	display: grid;
    grid-template-columns: 30% 30% 50%;
    grid-gap: 5%;
}

.grid-container > div{
    color: #79AC78;
    font-size: 100%;    
}

#header{
    margin-left: 6%;
	grid-column: 1 / span 3;

}

#header > h1{
    font-size: 600%;
}

#introduction_picture{
    margin-top: 6%;
    margin-left: 25%;
	grid-column: 1 / span 1;
}

#introduction{
	grid-column: 2 / span 1;
}

#introduction > h2{
    font-size: 300%;
}

#introduction > h3{
    font-size: 200%;
}

#skill{
	grid-column: 3 / span 1;
}

#aboutme{
    margin-left: 5%;
    grid-column: 1 / span 2;
}
#contact{
    margin-top: 9%;
    grid-column: 3 / span 1;
}

#footer{
    background-color: #618264;
	grid-column: 1 / span 3;
    margin-left: -10%;
    height: 200%;
}

.flex_container{
    display:flex;
    widthl:100%;
    margin-left: -69%;
    justify-content: center;
}
.flex_container > div{
	margin-left: 30px;
    margin-bottom: 10px;
}