body{
    background-color: rgb(0, 0, 0);
}
div{
    color: white;
}
fieldset{
    border-style: dotted;
    border-radius: 20px;
    border-width: 5px;
}
legend{
    font-size: 50px;
}
input{
    background-color: black;
    border-radius: 20px;
    border-style: solid ;
    border-color: white;
    color: white;
}
#gender{
    
}